.button__container {
  padding: 50px;

  button {
    background-color: rgb(49, 79, 254);
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin: 5px;
    color: white;
    width: 200px;

    &:hover {
      background-color: rgb(8, 35, 196);
    }

    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }
}

button {
  background-color: rgb(49, 79, 254);
  border: none;
  border-radius: 10px;
  padding: 12px;
  margin: 5px;
  color: white;
  width: 200px;

  &:hover {
    background-color: rgb(8, 35, 196);
  }

  &:active {
    transform: scale(0.9);
    transition: 0.2s;
  }
}
